<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ pageTitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#F26822">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="{{ relativeUrl('assets/images/logo.svg') }}">
    <script>
        document.documentElement.setAttribute('data-theme', localStorage.getItem('theme') || 'light');
        if (localStorage.getItem('sideNavCollapsed') === 'true') {
            document.documentElement.setAttribute('data-sidebar-collapsed', '');
        }
    </script>
    <link href="{{ relativeUrl(asset('libraries/leaflet/leaflet.css')) }}" rel="stylesheet"/>
    <link href="{{ relativeUrl(asset('react/dist/app.css')) }}" rel="stylesheet"/>
</head>
<body>
<div id="react-root"></div>
<script>
    window.statisticsForStrava = {{ javascriptWindowConstants|raw }};
    window.statisticsForStravaReact = {{ reactAppBootstrap|raw }};
</script>
<script src="{{ relativeUrl(asset('libraries/leaflet/leaflet.js')) }}"></script>
<script src="{{ relativeUrl(asset('libraries/echarts/echarts.min.js')) }}"></script>
<script src="{{ relativeUrl(asset('react/dist/app.js')) }}" type="module"></script>
</body>
</html>
