{% set uniqueId = uniqueNumberForId('monthlyStatsWidget') %}
<div class="flex items-center justify-between mb-4">
    <h3 class="text-lg font-semibold">
        {{ "Monthly stats"|trans }}
    </h3>
    <ul class="tabs tabs--pills" id="monthlyStatsTab{{ uniqueId }}" data-tabs="#monthlyStatsTabContent{{ uniqueId }}" role="tablist">
        {% for context in metricsDisplayOrder %}
            <li role="presentation">
                <a href="#" data-tabs-target="#monthlyStats{{ context.value }}{{ uniqueId }}" role="tab"
                   aria-controls="monthlyStats{{ context.value }}{{ uniqueId }}">
                    {{ svg(context.getSvgIcon(), 'size-5', '') }}
                    <span class="hidden md:block">{{ context|trans }}</span>
                </a>
            </li>
        {% endfor %}
        {% if monthlyWellnessCharts|length > 0 %}
            <li role="presentation">
                <a href="#" data-tabs-target="#monthlyStatsWellness{{ uniqueId }}" role="tab"
                   aria-controls="monthlyStatsWellness{{ uniqueId }}">
                    <span class="hidden md:block">{{ "Wellness"|trans }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
<div class="flex flex-col grow" id="monthlyStatsTabContent{{ uniqueId }}">
    {% for context in metricsDisplayOrder %}
        <div class="flex flex-col grow" id="monthlyStats{{ context.value }}{{ uniqueId }}" role="tabpanel"
             aria-labelledby="monthlyStats{{ context.value }}{{ uniqueId }}">
            {% set monthlyStatsCharts = monthlyStatsChartsPerContext[context.value] %}
            {% if monthlyStatsCharts|length > 1 %}
                <div class="tabs tabs--default">
                    <ul id="monthlyStatsActivityType{{ context.value }}Tab{{ uniqueId }}" data-tabs="#monthlyStatsActivityType{{ context.value }}TabContent{{ uniqueId }}"
                        role="tablist">
                        {% for activityType,chart in monthlyStatsCharts %}
                            <li role="presentation">
                                <a href="#" data-tabs-target="#monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}" role="tab"
                                   aria-controls="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}">
                                    {{ enum('App\\Domain\\Activity\\ActivityType').from(activityType)|trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="flex flex-col grow" id="monthlyStatsActivityType{{ context.value }}TabContent{{ uniqueId }}">
                {% for activityType,chart in monthlyStatsCharts %}
                    <div class="flex flex-col grow" id="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}" role="tabpanel"
                         aria-labelledby="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}-tab">
                        <div class="grow min-h-80" data-echarts-options='{{ chart }}' data-echarts-click="handleMonthlyStatsClick"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    {% if monthlyWellnessCharts|length > 0 %}
        <div class="flex flex-col grow" id="monthlyStatsWellness{{ uniqueId }}" role="tabpanel"
             aria-labelledby="monthlyStatsWellness{{ uniqueId }}">
            {% if monthlyWellnessMetricTabs|length > 1 %}
                <div class="tabs tabs--default">
                    <ul id="monthlyWellnessMetricTab{{ uniqueId }}" data-tabs="#monthlyWellnessMetricTabContent{{ uniqueId }}"
                        role="tablist">
                        {% for metric in monthlyWellnessMetricTabs %}
                            <li role="presentation">
                                <a href="#" data-tabs-target="#monthlyWellness{{ metric.key }}{{ uniqueId }}" role="tab"
                                   aria-controls="monthlyWellness{{ metric.key }}{{ uniqueId }}">
                                    {{ metric.label|trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="flex flex-col grow" id="monthlyWellnessMetricTabContent{{ uniqueId }}">
                {% for metric in monthlyWellnessMetricTabs %}
                    <div class="flex flex-col grow" id="monthlyWellness{{ metric.key }}{{ uniqueId }}" role="tabpanel"
                         aria-labelledby="monthlyWellness{{ metric.key }}{{ uniqueId }}-tab">
                        <div class="grow min-h-80" data-echarts-options='{{ monthlyWellnessCharts[metric.key] }}'></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>